<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.status.ertugrul">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/app_launcher"
        android:roundIcon="@drawable/app_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.status.ertugrul.activities.Splash"
            android:label="@string/app_name"
            android:screenOrientation="reversePortrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3896626396265093~2640644746"/>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>


        <activity
            android:name="com.status.ertugrul.activities.Home"
            android:screenOrientation="reversePortrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.status.ertugrul.activities.WallpaperDetail"
            android:screenOrientation="reversePortrait"
            />
    </application>

</manifest>